#ron {
    font-family: 'Bruno Ace', cursive;
    color: whitesmoke;
    padding-left: 50px;
}

#title {
    margin-left: 400px;
    text-align: center;
    font-size: 50px;
    font-family: 'Castoro Titling', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* The sidenav */
.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Page content */
#main {
    margin-left: 400px; /* Same as the width of the sidenav */
    text-align: center;
    margin: auto;
} 

#file-name {
    text-align: center;
    margin: auto;
    margin-left: 400px;
}

#ron-it-container {
    margin-left: 400px;
    text-align: center;
    left: 50%;
}

#output-box {
    margin-left: 400px;
    text-align: center;
    margin: auto;
}

#py-script {
    margin-left: 400px; /* Same as the width of the sidenav */
}

footer {
    margin-top: auto;
    text-align: center;
	padding: 10px;
    margin-left: 400px;
    font-family: 'Castoro Titling', cursive;
}